smart_open>1.8.1
requests
numpy
ftfy
regex
tqdm
pytorch 
torchvision 
einops
imageio
ipython
kornia
Pillow
PyYAML
scikit_learn
scikit-image
torch_optimizer
torch-tools
cmake
lpips
sentence_transformers
opencv-python
PyWavelets
datasets
tokenizers
transformers
